.theme_lightThemeClass {
  --base-size-4: 0.25rem;
  --base-size-8: 0.5rem;
  --base-size-12: 0.75rem;
  --base-size-16: 1rem;
  --base-size-20: 1.25rem;
  --base-size-24: 1.5rem;
  --base-size-28: 1.75rem;
  --base-size-32: 2rem;
  --base-size-36: 2.25rem;
  --base-size-40: 2.5rem;
  --base-size-44: 2.75rem;
  --base-size-48: 3rem;
  --base-size-64: 4rem;
  --base-size-80: 5rem;
  --base-size-96: 6rem;
  --base-size-112: 7rem;
  --base-size-128: 8rem;
  --base-text-weight-light: 300;
  --base-text-weight-normal: 400;
  --base-text-weight-medium: 500;
  --base-text-weight-semibold: 600;
  --primer-control-minTarget-fine: 1rem;
  --primer-control-minTarget-coarse: 2.75rem;
  --primer-control-xsmall-size: 1.5rem;
  --primer-control-xsmall-lineBoxHeight: 1.25rem;
  --primer-control-xsmall-paddingBlock: calc((1.5rem - 1.25rem) / 2);
  --primer-control-xsmall-paddingInline-condensed: 0.25rem;
  --primer-control-xsmall-paddingInline-normal: 0.5rem;
  --primer-control-xsmall-paddingInline-spacious: 0.75rem;
  --primer-control-xsmall-gap: 0.25rem;
  --primer-control-small-size: 1.75rem;
  --primer-control-small-lineBoxHeight: 1.25rem;
  --primer-control-small-paddingBlock: calc((1.75rem - 1.25rem) / 2);
  --primer-control-small-paddingInline-condensed: 0.5rem;
  --primer-control-small-paddingInline-normal: 0.75rem;
  --primer-control-small-gap: 0.25rem;
  --primer-control-medium-size: 2rem;
  --primer-control-medium-lineBoxHeight: 1.25rem;
  --primer-control-medium-paddingBlock: calc((2rem - 1.25rem) / 2);
  --primer-control-medium-paddingInline-condensed: 0.5rem;
  --primer-control-medium-paddingInline-normal: 0.75rem;
  --primer-control-medium-paddingInline-spacious: 1rem;
  --primer-control-medium-gap: 0.5rem;
  --primer-control-large-size: 2.5rem;
  --primer-control-large-lineBoxHeight: 1.25rem;
  --primer-control-large-paddingBlock: calc((2.5rem - 1.25rem) / 2);
  --primer-control-large-paddingInline-normal: 0.75rem;
  --primer-control-large-paddingInline-spacious: 1rem;
  --primer-control-large-gap: 0.5rem;
  --primer-control-xlarge-size: 3rem;
  --primer-control-xlarge-lineBoxHeight: 1.25rem;
  --primer-control-xlarge-paddingBlock: calc((3rem - 1.25rem) / 2);
  --primer-control-xlarge-paddingInline-normal: 0.75rem;
  --primer-control-xlarge-paddingInline-spacious: 1rem;
  --primer-control-xlarge-gap: 0.5rem;
  --primer-stack-padding-condensed: 0.5rem;
  --primer-stack-padding-normal: 1rem;
  --primer-stack-padding-spacious: 1.5rem;
  --primer-stack-gap-condensed: 0.5rem;
  --primer-stack-gap-normal: 1rem;
  --primer-stack-gap-spacious: 1.5rem;
  --primer-controlStack-small-gap-condensed: 0.5rem;
  --primer-controlStack-small-gap-spacious: 1rem;
  --primer-controlStack-medium-gap-condensed: 0.5rem;
  --primer-controlStack-medium-gap-spacious: 0.75rem;
  --primer-controlStack-large-gap-auto: 0.5rem;
  --primer-controlStack-large-gap-condensed: 0.5rem;
  --primer-controlStack-large-gap-spacious: 0.75rem;
  --primer-fontStack-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-fontStack-sansSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --primer-text-display-lineBoxHeight: 3.5rem;
  --primer-text-display-size: 2.5rem;
  --primer-text-display-lineHeight: calc(56/40);
  --primer-text-display-weight: 500;
  --primer-text-display-shorthand-fontWeight: 500;
  --primer-text-display-shorthand-fontSize: 2.5rem;
  --primer-text-display-shorthand-lineHeight: calc(56/40);
  --primer-text-display-shorthand-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-title-size-large: 2rem;
  --primer-text-title-size-medium: 1.25rem;
  --primer-text-title-lineHeight-large: calc(48/32);
  --primer-text-title-lineHeight-medium: calc(32/20);
  --primer-text-title-weight: 600;
  --primer-text-title-shorthand-large-fontWeight: 600;
  --primer-text-title-shorthand-large-fontSize: 2rem;
  --primer-text-title-shorthand-large-lineHeight: calc(48/32);
  --primer-text-title-shorthand-large-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-title-shorthand-medium-fontWeight: 600;
  --primer-text-title-shorthand-medium-fontSize: 1.25rem;
  --primer-text-title-shorthand-medium-lineHeight: calc(32/20);
  --primer-text-title-shorthand-medium-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-subtitle-size: 1.25rem;
  --primer-text-subtitle-lineHeight: calc(32/20);
  --primer-text-subtitle-weight: 400;
  --primer-text-subtitle-shorthand-fontWeight: 400;
  --primer-text-subtitle-shorthand-fontSize: 1.25rem;
  --primer-text-subtitle-shorthand-lineHeight: calc(32/20);
  --primer-text-subtitle-shorthand-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-body-size-large: 1rem;
  --primer-text-body-size-medium: 0.875rem;
  --primer-text-body-size-small: 0.75rem;
  --primer-text-body-lineHeight-large: calc(24/16);
  --primer-text-body-lineHeight-medium: calc(20/14);
  --primer-text-body-lineHeight-small: calc(20/12);
  --primer-text-body-weight: 400;
  --primer-text-body-shorthand-large-fontWeight: 400;
  --primer-text-body-shorthand-large-fontSize: 1rem;
  --primer-text-body-shorthand-large-lineHeight: calc(24/16);
  --primer-text-body-shorthand-large-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-body-shorthand-medium-fontWeight: 400;
  --primer-text-body-shorthand-medium-fontSize: 0.875rem;
  --primer-text-body-shorthand-medium-lineHeight: calc(20/14);
  --primer-text-body-shorthand-medium-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-body-shorthand-small-fontWeight: 400;
  --primer-text-body-shorthand-small-fontSize: 0.75rem;
  --primer-text-body-shorthand-small-lineHeight: calc(20/12);
  --primer-text-body-shorthand-small-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-caption-size: 0.75rem;
  --primer-text-caption-lineHeight: calc(16/12);
  --primer-text-caption-weight: 400;
  --primer-text-caption-shorthand-fontWeight: 400;
  --primer-text-caption-shorthand-fontSize: 0.75rem;
  --primer-text-caption-shorthand-lineHeight: calc(16/12);
  --primer-text-caption-shorthand-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-codeBlock-size: 0.8125rem;
  --primer-text-codeBlock-lineHeight: calc(20/13);
  --primer-text-codeBlock-weight: 400;
  --primer-text-codeBlock-shorthand-fontWeight: 400;
  --primer-text-codeBlock-shorthand-fontSize: 0.8125rem;
  --primer-text-codeBlock-shorthand-lineHeight: calc(20/13);
  --primer-text-codeBlock-shorthand-fontFamily: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --primer-text-codeInline-size: 0.9285em;
  --primer-text-codeInline-weight: 400;
  --primer-text-codeInline-shorthand-fontWeight: 400;
  --primer-text-codeInline-shorthand-fontSize: 0.9285em;
  --primer-text-codeInline-shorthand-fontFamily: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --radii-0: 0;
  --radii-3: 3px;
  --radii-6: 6px;
  --radii-full: 100px;
  --colors-canvasDefaultTransparent: rgba(255,255,255,0);
  --colors-pageHeaderBg: #f6f8fa;
  --colors-marketingIcon-primary: #218bff;
  --colors-marketingIcon-secondary: #54aeff;
  --colors-diffBlob-addition-numText: #24292f;
  --colors-diffBlob-addition-fg: #24292f;
  --colors-diffBlob-addition-numBg: #ccffd8;
  --colors-diffBlob-addition-lineBg: #e6ffec;
  --colors-diffBlob-addition-wordBg: #abf2bc;
  --colors-diffBlob-deletion-numText: #24292f;
  --colors-diffBlob-deletion-fg: #24292f;
  --colors-diffBlob-deletion-numBg: #ffd7d5;
  --colors-diffBlob-deletion-lineBg: #ffebe9;
  --colors-diffBlob-deletion-wordBg: rgba(255,129,130,0.4);
  --colors-diffBlob-hunk-numBg: rgba(84,174,255,0.4);
  --colors-diffBlob-expander-icon: #57606a;
  --colors-diffBlob-selectedLineHighlightMixBlendMode: multiply;
  --colors-diffstat-deletionBorder: rgba(27,31,36,0.15);
  --colors-diffstat-additionBorder: rgba(27,31,36,0.15);
  --colors-diffstat-additionBg: #2da44e;
  --colors-searchKeyword-hl: #fff8c5;
  --colors-prettylights-syntax-comment: #6e7781;
  --colors-prettylights-syntax-constant: #0550ae;
  --colors-prettylights-syntax-entity: #8250df;
  --colors-prettylights-syntax-storageModifierImport: #24292f;
  --colors-prettylights-syntax-entityTag: #116329;
  --colors-prettylights-syntax-keyword: #cf222e;
  --colors-prettylights-syntax-string: #0a3069;
  --colors-prettylights-syntax-variable: #953800;
  --colors-prettylights-syntax-brackethighlighterUnmatched: #82071e;
  --colors-prettylights-syntax-invalidIllegalText: #f6f8fa;
  --colors-prettylights-syntax-invalidIllegalBg: #82071e;
  --colors-prettylights-syntax-carriageReturnText: #f6f8fa;
  --colors-prettylights-syntax-carriageReturnBg: #cf222e;
  --colors-prettylights-syntax-stringRegexp: #116329;
  --colors-prettylights-syntax-markupList: #3b2300;
  --colors-prettylights-syntax-markupHeading: #0550ae;
  --colors-prettylights-syntax-markupItalic: #24292f;
  --colors-prettylights-syntax-markupBold: #24292f;
  --colors-prettylights-syntax-markupDeletedText: #82071e;
  --colors-prettylights-syntax-markupDeletedBg: #ffebe9;
  --colors-prettylights-syntax-markupInsertedText: #116329;
  --colors-prettylights-syntax-markupInsertedBg: #dafbe1;
  --colors-prettylights-syntax-markupChangedText: #953800;
  --colors-prettylights-syntax-markupChangedBg: #ffd8b5;
  --colors-prettylights-syntax-markupIgnoredText: #eaeef2;
  --colors-prettylights-syntax-markupIgnoredBg: #0550ae;
  --colors-prettylights-syntax-metaDiffRange: #8250df;
  --colors-prettylights-syntax-brackethighlighterAngle: #57606a;
  --colors-prettylights-syntax-sublimelinterGutterMark: #8c959f;
  --colors-prettylights-syntax-constantOtherReferenceLink: #0a3069;
  --colors-codemirror-text: #24292f;
  --colors-codemirror-bg: #ffffff;
  --colors-codemirror-guttersBg: #ffffff;
  --colors-codemirror-guttermarkerText: #ffffff;
  --colors-codemirror-guttermarkerSubtleText: #6e7781;
  --colors-codemirror-linenumberText: #57606a;
  --colors-codemirror-cursor: #24292f;
  --colors-codemirror-selectionBg: rgba(84,174,255,0.4);
  --colors-codemirror-activelineBg: rgba(234,238,242,0.5);
  --colors-codemirror-matchingbracketText: #24292f;
  --colors-codemirror-linesBg: #ffffff;
  --colors-codemirror-syntax-comment: #24292f;
  --colors-codemirror-syntax-constant: #0550ae;
  --colors-codemirror-syntax-entity: #8250df;
  --colors-codemirror-syntax-keyword: #cf222e;
  --colors-codemirror-syntax-storage: #cf222e;
  --colors-codemirror-syntax-string: #0a3069;
  --colors-codemirror-syntax-support: #0550ae;
  --colors-codemirror-syntax-variable: #953800;
  --colors-checks-bg: #24292f;
  --colors-checks-runBorderWidth: 0px;
  --colors-checks-containerBorderWidth: 0px;
  --colors-checks-textPrimary: #f6f8fa;
  --colors-checks-textSecondary: #8c959f;
  --colors-checks-textLink: #54aeff;
  --colors-checks-btnIcon: #afb8c1;
  --colors-checks-btnHoverIcon: #f6f8fa;
  --colors-checks-btnHoverBg: rgba(255,255,255,0.125);
  --colors-checks-inputText: #eaeef2;
  --colors-checks-inputPlaceholderText: #8c959f;
  --colors-checks-inputFocusText: #8c959f;
  --colors-checks-inputBg: #32383f;
  --colors-checks-inputShadow: none;
  --colors-checks-donutError: #fa4549;
  --colors-checks-donutPending: #bf8700;
  --colors-checks-donutSuccess: #2da44e;
  --colors-checks-donutNeutral: #afb8c1;
  --colors-checks-dropdownText: #afb8c1;
  --colors-checks-dropdownBg: #32383f;
  --colors-checks-dropdownBorder: #424a53;
  --colors-checks-dropdownShadow: rgba(27,31,36,0.3);
  --colors-checks-dropdownHoverText: #f6f8fa;
  --colors-checks-dropdownHoverBg: #424a53;
  --colors-checks-dropdownBtnHoverText: #f6f8fa;
  --colors-checks-dropdownBtnHoverBg: #32383f;
  --colors-checks-scrollbarThumbBg: #57606a;
  --colors-checks-headerLabelText: #d0d7de;
  --colors-checks-headerLabelOpenText: #f6f8fa;
  --colors-checks-headerBorder: #32383f;
  --colors-checks-headerIcon: #8c959f;
  --colors-checks-lineText: #d0d7de;
  --colors-checks-lineNumText: rgba(140,149,159,0.75);
  --colors-checks-lineTimestampText: #8c959f;
  --colors-checks-lineHoverBg: #32383f;
  --colors-checks-lineSelectedBg: rgba(33,139,255,0.15);
  --colors-checks-lineSelectedNumText: #54aeff;
  --colors-checks-lineDtFmText: #24292f;
  --colors-checks-lineDtFmBg: #9a6700;
  --colors-checks-gateBg: rgba(125,78,0,0.15);
  --colors-checks-gateText: #d0d7de;
  --colors-checks-gateWaitingText: #d4a72c;
  --colors-checks-stepHeaderOpenBg: #32383f;
  --colors-checks-stepErrorText: #ff8182;
  --colors-checks-stepWarningText: #d4a72c;
  --colors-checks-loglineText: #8c959f;
  --colors-checks-loglineNumText: rgba(140,149,159,0.75);
  --colors-checks-loglineDebugText: #c297ff;
  --colors-checks-loglineErrorText: #d0d7de;
  --colors-checks-loglineErrorNumText: #ff8182;
  --colors-checks-loglineErrorBg: rgba(164,14,38,0.15);
  --colors-checks-loglineWarningText: #d0d7de;
  --colors-checks-loglineWarningNumText: #d4a72c;
  --colors-checks-loglineWarningBg: rgba(125,78,0,0.15);
  --colors-checks-loglineCommandText: #54aeff;
  --colors-checks-loglineSectionText: #4ac26b;
  --colors-checks-ansi-black: #24292f;
  --colors-checks-ansi-blackBright: #32383f;
  --colors-checks-ansi-white: #d0d7de;
  --colors-checks-ansi-whiteBright: #d0d7de;
  --colors-checks-ansi-gray: #8c959f;
  --colors-checks-ansi-red: #ff8182;
  --colors-checks-ansi-redBright: #ffaba8;
  --colors-checks-ansi-green: #4ac26b;
  --colors-checks-ansi-greenBright: #6fdd8b;
  --colors-checks-ansi-yellow: #d4a72c;
  --colors-checks-ansi-yellowBright: #eac54f;
  --colors-checks-ansi-blue: #54aeff;
  --colors-checks-ansi-blueBright: #80ccff;
  --colors-checks-ansi-magenta: #c297ff;
  --colors-checks-ansi-magentaBright: #d8b9ff;
  --colors-checks-ansi-cyan: #76e3ea;
  --colors-checks-ansi-cyanBright: #b3f0ff;
  --colors-project-headerBg: #24292f;
  --colors-project-sidebarBg: #ffffff;
  --colors-project-gradientIn: #ffffff;
  --colors-project-gradientOut: rgba(255,255,255,0);
  --colors-mktg-btn-bg: #1b1f23;
  --colors-mktg-btn-shadow-outline: rgb(0 0 0 / 15%) 0 0 0 1px inset;
  --colors-mktg-btn-shadow-focus: rgb(0 0 0 / 15%) 0 0 0 4px;
  --colors-mktg-btn-shadow-hover: 0 3px 2px rgba(0, 0, 0, 0.07), 0 7px 5px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.03), 0 22px 18px rgba(0, 0, 0, 0.03), 0 42px 33px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02);
  --colors-mktg-btn-shadow-hoverMuted: rgb(0 0 0 / 70%) 0 0 0 2px inset;
  --colors-avatar-bg: #ffffff;
  --colors-avatar-border: rgba(27,31,36,0.15);
  --colors-avatar-stackFade: #afb8c1;
  --colors-avatar-stackFadeMore: #d0d7de;
  --colors-avatar-childShadow: -2px -2px 0 rgba(255,255,255,0.8);
  --colors-topicTag-border: rgba(0,0,0,0);
  --colors-counter-border: rgba(0,0,0,0);
  --colors-selectMenu-backdropBorder: rgba(0,0,0,0);
  --colors-selectMenu-tapHighlight: rgba(175,184,193,0.5);
  --colors-selectMenu-tapFocusBg: #b6e3ff;
  --colors-overlay-shadow: 0 1px 3px rgba(27,31,36,0.12), 0 8px 24px rgba(66,74,83,0.12);
  --colors-header-text: rgba(255,255,255,0.7);
  --colors-header-bg: #24292f;
  --colors-header-divider: #57606a;
  --colors-header-logo: #ffffff;
  --colors-headerSearch-bg: #24292f;
  --colors-headerSearch-border: #57606a;
  --colors-sidenav-selectedBg: #ffffff;
  --colors-menu-bgActive: rgba(0,0,0,0);
  --colors-input-disabledBg: rgba(175,184,193,0.2);
  --colors-timeline-badgeBg: #eaeef2;
  --colors-ansi-black: #24292f;
  --colors-ansi-blackBright: #57606a;
  --colors-ansi-white: #6e7781;
  --colors-ansi-whiteBright: #8c959f;
  --colors-ansi-gray: #6e7781;
  --colors-ansi-red: #cf222e;
  --colors-ansi-redBright: #a40e26;
  --colors-ansi-green: #116329;
  --colors-ansi-greenBright: #1a7f37;
  --colors-ansi-yellow: #4d2d00;
  --colors-ansi-yellowBright: #633c01;
  --colors-ansi-blue: #0969da;
  --colors-ansi-blueBright: #218bff;
  --colors-ansi-magenta: #8250df;
  --colors-ansi-magentaBright: #a475f9;
  --colors-ansi-cyan: #1b7c83;
  --colors-ansi-cyanBright: #3192aa;
  --colors-btn-text: #24292f;
  --colors-btn-bg: #f6f8fa;
  --colors-btn-border: rgba(27,31,36,0.15);
  --colors-btn-shadow: 0 1px 0 rgba(27,31,36,0.04);
  --colors-btn-insetShadow: inset 0 1px 0 rgba(255,255,255,0.25);
  --colors-btn-hoverBg: #f3f4f6;
  --colors-btn-hoverBorder: rgba(27,31,36,0.15);
  --colors-btn-activeBg: hsla(220,14%,93%,1);
  --colors-btn-activeBorder: rgba(27,31,36,0.15);
  --colors-btn-selectedBg: hsla(220,14%,94%,1);
  --colors-btn-focusBg: #f6f8fa;
  --colors-btn-focusBorder: rgba(27,31,36,0.15);
  --colors-btn-focusShadow: 0 0 0 3px rgba(9,105,218,0.3);
  --colors-btn-shadowActive: inset 0 0.15em 0.3em rgba(27,31,36,0.15);
  --colors-btn-shadowInputFocus: 0 0 0 0.2em rgba(9,105,218,0.3);
  --colors-btn-counterBg: rgba(27,31,36,0.08);
  --colors-btn-primary-text: #ffffff;
  --colors-btn-primary-bg: #2da44e;
  --colors-btn-primary-border: rgba(27,31,36,0.15);
  --colors-btn-primary-shadow: 0 1px 0 rgba(27,31,36,0.1);
  --colors-btn-primary-insetShadow: inset 0 1px 0 rgba(255,255,255,0.03);
  --colors-btn-primary-hoverBg: #2c974b;
  --colors-btn-primary-hoverBorder: rgba(27,31,36,0.15);
  --colors-btn-primary-selectedBg: hsla(137,55%,36%,1);
  --colors-btn-primary-selectedShadow: inset 0 1px 0 rgba(0,45,17,0.2);
  --colors-btn-primary-disabledText: rgba(255,255,255,0.8);
  --colors-btn-primary-disabledBg: #94d3a2;
  --colors-btn-primary-disabledBorder: rgba(27,31,36,0.15);
  --colors-btn-primary-focusBg: #2da44e;
  --colors-btn-primary-focusBorder: rgba(27,31,36,0.15);
  --colors-btn-primary-focusShadow: 0 0 0 3px rgba(45,164,78,0.4);
  --colors-btn-primary-icon: rgba(255,255,255,0.8);
  --colors-btn-primary-counterBg: rgba(255,255,255,0.2);
  --colors-btn-outline-text: #0969da;
  --colors-btn-outline-hoverText: #ffffff;
  --colors-btn-outline-hoverBg: #0969da;
  --colors-btn-outline-hoverBorder: rgba(27,31,36,0.15);
  --colors-btn-outline-hoverShadow: 0 1px 0 rgba(27,31,36,0.1);
  --colors-btn-outline-hoverInsetShadow: inset 0 1px 0 rgba(255,255,255,0.03);
  --colors-btn-outline-hoverCounterBg: rgba(255,255,255,0.2);
  --colors-btn-outline-selectedText: #ffffff;
  --colors-btn-outline-selectedBg: hsla(212,92%,42%,1);
  --colors-btn-outline-selectedBorder: rgba(27,31,36,0.15);
  --colors-btn-outline-selectedShadow: inset 0 1px 0 rgba(0,33,85,0.2);
  --colors-btn-outline-disabledText: rgba(9,105,218,0.5);
  --colors-btn-outline-disabledBg: #f6f8fa;
  --colors-btn-outline-disabledCounterBg: rgba(9,105,218,0.05);
  --colors-btn-outline-focusBorder: rgba(27,31,36,0.15);
  --colors-btn-outline-focusShadow: 0 0 0 3px rgba(5,80,174,0.4);
  --colors-btn-outline-counterBg: rgba(9,105,218,0.1);
  --colors-btn-danger-text: #cf222e;
  --colors-btn-danger-hoverText: #ffffff;
  --colors-btn-danger-hoverBg: #a40e26;
  --colors-btn-danger-hoverBorder: rgba(27,31,36,0.15);
  --colors-btn-danger-hoverShadow: 0 1px 0 rgba(27,31,36,0.1);
  --colors-btn-danger-hoverInsetShadow: inset 0 1px 0 rgba(255,255,255,0.03);
  --colors-btn-danger-hoverCounterBg: rgba(255,255,255,0.2);
  --colors-btn-danger-selectedText: #ffffff;
  --colors-btn-danger-selectedBg: hsla(356,72%,44%,1);
  --colors-btn-danger-selectedBorder: rgba(27,31,36,0.15);
  --colors-btn-danger-selectedShadow: inset 0 1px 0 rgba(76,0,20,0.2);
  --colors-btn-danger-disabledText: rgba(207,34,46,0.5);
  --colors-btn-danger-disabledBg: #f6f8fa;
  --colors-btn-danger-disabledCounterBg: rgba(207,34,46,0.05);
  --colors-btn-danger-focusBorder: rgba(27,31,36,0.15);
  --colors-btn-danger-focusShadow: 0 0 0 3px rgba(164,14,38,0.4);
  --colors-btn-danger-counterBg: rgba(207,34,46,0.1);
  --colors-btn-danger-icon: #cf222e;
  --colors-btn-danger-hoverIcon: #ffffff;
  --colors-underlinenav-icon: #6e7781;
  --colors-underlinenav-borderHover: rgba(175,184,193,0.2);
  --colors-actionListItem-inlineDivider: rgba(208,215,222,0.48);
  --colors-actionListItem-default-hoverBg: rgba(208,215,222,0.32);
  --colors-actionListItem-default-hoverBorder: rgba(0,0,0,0);
  --colors-actionListItem-default-activeBg: rgba(208,215,222,0.48);
  --colors-actionListItem-default-activeBorder: rgba(0,0,0,0);
  --colors-actionListItem-default-selectedBg: rgba(208,215,222,0.24);
  --colors-actionListItem-danger-hoverBg: rgba(255,235,233,0.64);
  --colors-actionListItem-danger-activeBg: #ffebe9;
  --colors-actionListItem-danger-hoverText: #cf222e;
  --colors-switchTrack-bg: #eaeef2;
  --colors-switchTrack-border: #afb8c1;
  --colors-switchTrack-checked-bg: #ddf4ff;
  --colors-switchTrack-checked-hoverBg: #b6e3ff;
  --colors-switchTrack-checked-activeBg: #80ccff;
  --colors-switchTrack-checked-border: #54aeff;
  --colors-switchKnob-checked-bg: #0969da;
  --colors-switchKnob-checked-disabledBg: #6e7781;
  --colors-segmentedControl-bg: #eaeef2;
  --colors-segmentedControl-button-hover-bg: rgba(175,184,193,0.2);
  --colors-segmentedControl-button-active-bg: rgba(175,184,193,0.4);
  --colors-segmentedControl-button-selected-border: #6e7781;
  --colors-treeViewItem-chevron-hoverBg: rgba(208,215,222,0.32);
  --colors-treeViewItem-directory-fill: #54aeff;
  --colors-fg-default: #24292f;
  --colors-fg-muted: #57606a;
  --colors-fg-subtle: #6e7781;
  --colors-fg-onEmphasis: #ffffff;
  --colors-canvas-default: #ffffff;
  --colors-canvas-overlay: #ffffff;
  --colors-canvas-inset: #f6f8fa;
  --colors-canvas-subtle: #f6f8fa;
  --colors-border-default: #d0d7de;
  --colors-border-muted: hsla(210,18%,87%,1);
  --colors-border-subtle: rgba(27,31,36,0.15);
  --colors-shadow-small: 0 1px 0 rgba(27,31,36,0.04);
  --colors-shadow-medium: 0 3px 6px rgba(140,149,159,0.15);
  --colors-shadow-large: 0 8px 24px rgba(140,149,159,0.2);
  --colors-shadow-extraLarge: 0 12px 28px rgba(140,149,159,0.3);
  --colors-neutral-emphasisPlus: #24292f;
  --colors-neutral-emphasis: #6e7781;
  --colors-neutral-muted: rgba(175,184,193,0.2);
  --colors-neutral-subtle: rgba(234,238,242,0.5);
  --colors-accent-fg: #0969da;
  --colors-accent-emphasis: #0969da;
  --colors-accent-muted: rgba(84,174,255,0.4);
  --colors-accent-subtle: #ddf4ff;
  --colors-success-fg: #1a7f37;
  --colors-success-emphasis: #2da44e;
  --colors-success-muted: rgba(74,194,107,0.4);
  --colors-success-subtle: #dafbe1;
  --colors-attention-fg: #9a6700;
  --colors-attention-emphasis: #bf8700;
  --colors-attention-muted: rgba(212,167,44,0.4);
  --colors-attention-subtle: #fff8c5;
  --colors-severe-fg: #bc4c00;
  --colors-severe-emphasis: #bc4c00;
  --colors-severe-muted: rgba(251,143,68,0.4);
  --colors-severe-subtle: #fff1e5;
  --colors-danger-fg: #cf222e;
  --colors-danger-emphasis: #cf222e;
  --colors-danger-muted: rgba(255,129,130,0.4);
  --colors-danger-subtle: #ffebe9;
  --colors-open-fg: #1a7f37;
  --colors-open-emphasis: #2da44e;
  --colors-open-muted: rgba(74,194,107,0.4);
  --colors-open-subtle: #dafbe1;
  --colors-closed-fg: #cf222e;
  --colors-closed-emphasis: #cf222e;
  --colors-closed-muted: rgba(255,129,130,0.4);
  --colors-closed-subtle: #ffebe9;
  --colors-done-fg: #8250df;
  --colors-done-emphasis: #8250df;
  --colors-done-muted: rgba(194,151,255,0.4);
  --colors-done-subtle: #fbefff;
  --colors-sponsors-fg: #bf3989;
  --colors-sponsors-emphasis: #bf3989;
  --colors-sponsors-muted: rgba(255,128,200,0.4);
  --colors-sponsors-subtle: #ffeff7;
  --colors-primer-fg-disabled: #8c959f;
  --colors-primer-canvas-backdrop: rgba(27,31,36,0.5);
  --colors-primer-canvas-sticky: rgba(255,255,255,0.95);
  --colors-primer-border-active: #fd8c73;
  --colors-primer-border-contrast: rgba(27,31,36,0.1);
  --colors-primer-shadow-highlight: inset 0 1px 0 rgba(255,255,255,0.25);
  --colors-primer-shadow-inset: inset 0 1px 0 rgba(208,215,222,0.2);
  --colors-primer-shadow-focus: 0 0 0 3px rgba(9,105,218,0.3);
  --colors-scale-black: #1b1f24;
  --colors-scale-white: #ffffff;
  --colors-scale-gray-0: 0;
  --colors-scale-gray-1: 1;
  --colors-scale-gray-2: 2;
  --colors-scale-gray-3: 3;
  --colors-scale-gray-4: 4;
  --colors-scale-gray-5: 5;
  --colors-scale-gray-6: 6;
  --colors-scale-gray-7: 7;
  --colors-scale-gray-8: 8;
  --colors-scale-gray-9: 9;
  --colors-scale-blue-0: 0;
  --colors-scale-blue-1: 1;
  --colors-scale-blue-2: 2;
  --colors-scale-blue-3: 3;
  --colors-scale-blue-4: 4;
  --colors-scale-blue-5: 5;
  --colors-scale-blue-6: 6;
  --colors-scale-blue-7: 7;
  --colors-scale-blue-8: 8;
  --colors-scale-blue-9: 9;
  --colors-scale-green-0: 0;
  --colors-scale-green-1: 1;
  --colors-scale-green-2: 2;
  --colors-scale-green-3: 3;
  --colors-scale-green-4: 4;
  --colors-scale-green-5: 5;
  --colors-scale-green-6: 6;
  --colors-scale-green-7: 7;
  --colors-scale-green-8: 8;
  --colors-scale-green-9: 9;
  --colors-scale-yellow-0: 0;
  --colors-scale-yellow-1: 1;
  --colors-scale-yellow-2: 2;
  --colors-scale-yellow-3: 3;
  --colors-scale-yellow-4: 4;
  --colors-scale-yellow-5: 5;
  --colors-scale-yellow-6: 6;
  --colors-scale-yellow-7: 7;
  --colors-scale-yellow-8: 8;
  --colors-scale-yellow-9: 9;
  --colors-scale-orange-0: 0;
  --colors-scale-orange-1: 1;
  --colors-scale-orange-2: 2;
  --colors-scale-orange-3: 3;
  --colors-scale-orange-4: 4;
  --colors-scale-orange-5: 5;
  --colors-scale-orange-6: 6;
  --colors-scale-orange-7: 7;
  --colors-scale-orange-8: 8;
  --colors-scale-orange-9: 9;
  --colors-scale-red-0: 0;
  --colors-scale-red-1: 1;
  --colors-scale-red-2: 2;
  --colors-scale-red-3: 3;
  --colors-scale-red-4: 4;
  --colors-scale-red-5: 5;
  --colors-scale-red-6: 6;
  --colors-scale-red-7: 7;
  --colors-scale-red-8: 8;
  --colors-scale-red-9: 9;
  --colors-scale-purple-0: 0;
  --colors-scale-purple-1: 1;
  --colors-scale-purple-2: 2;
  --colors-scale-purple-3: 3;
  --colors-scale-purple-4: 4;
  --colors-scale-purple-5: 5;
  --colors-scale-purple-6: 6;
  --colors-scale-purple-7: 7;
  --colors-scale-purple-8: 8;
  --colors-scale-purple-9: 9;
  --colors-scale-pink-0: 0;
  --colors-scale-pink-1: 1;
  --colors-scale-pink-2: 2;
  --colors-scale-pink-3: 3;
  --colors-scale-pink-4: 4;
  --colors-scale-pink-5: 5;
  --colors-scale-pink-6: 6;
  --colors-scale-pink-7: 7;
  --colors-scale-pink-8: 8;
  --colors-scale-pink-9: 9;
  --colors-scale-coral-0: 0;
  --colors-scale-coral-1: 1;
  --colors-scale-coral-2: 2;
  --colors-scale-coral-3: 3;
  --colors-scale-coral-4: 4;
  --colors-scale-coral-5: 5;
  --colors-scale-coral-6: 6;
  --colors-scale-coral-7: 7;
  --colors-scale-coral-8: 8;
  --colors-scale-coral-9: 9;
}
.theme_darkThemeClass {
  --base-size-4: 0.25rem;
  --base-size-8: 0.5rem;
  --base-size-12: 0.75rem;
  --base-size-16: 1rem;
  --base-size-20: 1.25rem;
  --base-size-24: 1.5rem;
  --base-size-28: 1.75rem;
  --base-size-32: 2rem;
  --base-size-36: 2.25rem;
  --base-size-40: 2.5rem;
  --base-size-44: 2.75rem;
  --base-size-48: 3rem;
  --base-size-64: 4rem;
  --base-size-80: 5rem;
  --base-size-96: 6rem;
  --base-size-112: 7rem;
  --base-size-128: 8rem;
  --base-text-weight-light: 300;
  --base-text-weight-normal: 400;
  --base-text-weight-medium: 500;
  --base-text-weight-semibold: 600;
  --primer-control-minTarget-fine: 1rem;
  --primer-control-minTarget-coarse: 2.75rem;
  --primer-control-xsmall-size: 1.5rem;
  --primer-control-xsmall-lineBoxHeight: 1.25rem;
  --primer-control-xsmall-paddingBlock: calc((1.5rem - 1.25rem) / 2);
  --primer-control-xsmall-paddingInline-condensed: 0.25rem;
  --primer-control-xsmall-paddingInline-normal: 0.5rem;
  --primer-control-xsmall-paddingInline-spacious: 0.75rem;
  --primer-control-xsmall-gap: 0.25rem;
  --primer-control-small-size: 1.75rem;
  --primer-control-small-lineBoxHeight: 1.25rem;
  --primer-control-small-paddingBlock: calc((1.75rem - 1.25rem) / 2);
  --primer-control-small-paddingInline-condensed: 0.5rem;
  --primer-control-small-paddingInline-normal: 0.75rem;
  --primer-control-small-gap: 0.25rem;
  --primer-control-medium-size: 2rem;
  --primer-control-medium-lineBoxHeight: 1.25rem;
  --primer-control-medium-paddingBlock: calc((2rem - 1.25rem) / 2);
  --primer-control-medium-paddingInline-condensed: 0.5rem;
  --primer-control-medium-paddingInline-normal: 0.75rem;
  --primer-control-medium-paddingInline-spacious: 1rem;
  --primer-control-medium-gap: 0.5rem;
  --primer-control-large-size: 2.5rem;
  --primer-control-large-lineBoxHeight: 1.25rem;
  --primer-control-large-paddingBlock: calc((2.5rem - 1.25rem) / 2);
  --primer-control-large-paddingInline-normal: 0.75rem;
  --primer-control-large-paddingInline-spacious: 1rem;
  --primer-control-large-gap: 0.5rem;
  --primer-control-xlarge-size: 3rem;
  --primer-control-xlarge-lineBoxHeight: 1.25rem;
  --primer-control-xlarge-paddingBlock: calc((3rem - 1.25rem) / 2);
  --primer-control-xlarge-paddingInline-normal: 0.75rem;
  --primer-control-xlarge-paddingInline-spacious: 1rem;
  --primer-control-xlarge-gap: 0.5rem;
  --primer-stack-padding-condensed: 0.5rem;
  --primer-stack-padding-normal: 1rem;
  --primer-stack-padding-spacious: 1.5rem;
  --primer-stack-gap-condensed: 0.5rem;
  --primer-stack-gap-normal: 1rem;
  --primer-stack-gap-spacious: 1.5rem;
  --primer-controlStack-small-gap-condensed: 0.5rem;
  --primer-controlStack-small-gap-spacious: 1rem;
  --primer-controlStack-medium-gap-condensed: 0.5rem;
  --primer-controlStack-medium-gap-spacious: 0.75rem;
  --primer-controlStack-large-gap-auto: 0.5rem;
  --primer-controlStack-large-gap-condensed: 0.5rem;
  --primer-controlStack-large-gap-spacious: 0.75rem;
  --primer-fontStack-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-fontStack-sansSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --primer-text-display-lineBoxHeight: 3.5rem;
  --primer-text-display-size: 2.5rem;
  --primer-text-display-lineHeight: calc(56/40);
  --primer-text-display-weight: 500;
  --primer-text-display-shorthand-fontWeight: 500;
  --primer-text-display-shorthand-fontSize: 2.5rem;
  --primer-text-display-shorthand-lineHeight: calc(56/40);
  --primer-text-display-shorthand-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-title-size-large: 2rem;
  --primer-text-title-size-medium: 1.25rem;
  --primer-text-title-lineHeight-large: calc(48/32);
  --primer-text-title-lineHeight-medium: calc(32/20);
  --primer-text-title-weight: 600;
  --primer-text-title-shorthand-large-fontWeight: 600;
  --primer-text-title-shorthand-large-fontSize: 2rem;
  --primer-text-title-shorthand-large-lineHeight: calc(48/32);
  --primer-text-title-shorthand-large-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-title-shorthand-medium-fontWeight: 600;
  --primer-text-title-shorthand-medium-fontSize: 1.25rem;
  --primer-text-title-shorthand-medium-lineHeight: calc(32/20);
  --primer-text-title-shorthand-medium-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-subtitle-size: 1.25rem;
  --primer-text-subtitle-lineHeight: calc(32/20);
  --primer-text-subtitle-weight: 400;
  --primer-text-subtitle-shorthand-fontWeight: 400;
  --primer-text-subtitle-shorthand-fontSize: 1.25rem;
  --primer-text-subtitle-shorthand-lineHeight: calc(32/20);
  --primer-text-subtitle-shorthand-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-body-size-large: 1rem;
  --primer-text-body-size-medium: 0.875rem;
  --primer-text-body-size-small: 0.75rem;
  --primer-text-body-lineHeight-large: calc(24/16);
  --primer-text-body-lineHeight-medium: calc(20/14);
  --primer-text-body-lineHeight-small: calc(20/12);
  --primer-text-body-weight: 400;
  --primer-text-body-shorthand-large-fontWeight: 400;
  --primer-text-body-shorthand-large-fontSize: 1rem;
  --primer-text-body-shorthand-large-lineHeight: calc(24/16);
  --primer-text-body-shorthand-large-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-body-shorthand-medium-fontWeight: 400;
  --primer-text-body-shorthand-medium-fontSize: 0.875rem;
  --primer-text-body-shorthand-medium-lineHeight: calc(20/14);
  --primer-text-body-shorthand-medium-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-body-shorthand-small-fontWeight: 400;
  --primer-text-body-shorthand-small-fontSize: 0.75rem;
  --primer-text-body-shorthand-small-lineHeight: calc(20/12);
  --primer-text-body-shorthand-small-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-caption-size: 0.75rem;
  --primer-text-caption-lineHeight: calc(16/12);
  --primer-text-caption-weight: 400;
  --primer-text-caption-shorthand-fontWeight: 400;
  --primer-text-caption-shorthand-fontSize: 0.75rem;
  --primer-text-caption-shorthand-lineHeight: calc(16/12);
  --primer-text-caption-shorthand-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --primer-text-codeBlock-size: 0.8125rem;
  --primer-text-codeBlock-lineHeight: calc(20/13);
  --primer-text-codeBlock-weight: 400;
  --primer-text-codeBlock-shorthand-fontWeight: 400;
  --primer-text-codeBlock-shorthand-fontSize: 0.8125rem;
  --primer-text-codeBlock-shorthand-lineHeight: calc(20/13);
  --primer-text-codeBlock-shorthand-fontFamily: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --primer-text-codeInline-size: 0.9285em;
  --primer-text-codeInline-weight: 400;
  --primer-text-codeInline-shorthand-fontWeight: 400;
  --primer-text-codeInline-shorthand-fontSize: 0.9285em;
  --primer-text-codeInline-shorthand-fontFamily: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --radii-0: 0;
  --radii-3: 3px;
  --radii-6: 6px;
  --radii-full: 100px;
  --colors-canvasDefaultTransparent: rgba(13,17,23,0);
  --colors-pageHeaderBg: #0d1117;
  --colors-marketingIcon-primary: #79c0ff;
  --colors-marketingIcon-secondary: #1f6feb;
  --colors-diffBlob-addition-numText: #c9d1d9;
  --colors-diffBlob-addition-fg: #c9d1d9;
  --colors-diffBlob-addition-numBg: rgba(63,185,80,0.3);
  --colors-diffBlob-addition-lineBg: rgba(46,160,67,0.15);
  --colors-diffBlob-addition-wordBg: rgba(46,160,67,0.4);
  --colors-diffBlob-deletion-numText: #c9d1d9;
  --colors-diffBlob-deletion-fg: #c9d1d9;
  --colors-diffBlob-deletion-numBg: rgba(248,81,73,0.3);
  --colors-diffBlob-deletion-lineBg: rgba(248,81,73,0.15);
  --colors-diffBlob-deletion-wordBg: rgba(248,81,73,0.4);
  --colors-diffBlob-hunk-numBg: rgba(56,139,253,0.4);
  --colors-diffBlob-expander-icon: #8b949e;
  --colors-diffBlob-selectedLineHighlightMixBlendMode: screen;
  --colors-diffstat-deletionBorder: rgba(240,246,252,0.1);
  --colors-diffstat-additionBorder: rgba(240,246,252,0.1);
  --colors-diffstat-additionBg: #3fb950;
  --colors-searchKeyword-hl: rgba(210,153,34,0.4);
  --colors-prettylights-syntax-comment: #8b949e;
  --colors-prettylights-syntax-constant: #79c0ff;
  --colors-prettylights-syntax-entity: #d2a8ff;
  --colors-prettylights-syntax-storageModifierImport: #c9d1d9;
  --colors-prettylights-syntax-entityTag: #7ee787;
  --colors-prettylights-syntax-keyword: #ff7b72;
  --colors-prettylights-syntax-string: #a5d6ff;
  --colors-prettylights-syntax-variable: #ffa657;
  --colors-prettylights-syntax-brackethighlighterUnmatched: #f85149;
  --colors-prettylights-syntax-invalidIllegalText: #f0f6fc;
  --colors-prettylights-syntax-invalidIllegalBg: #8e1519;
  --colors-prettylights-syntax-carriageReturnText: #f0f6fc;
  --colors-prettylights-syntax-carriageReturnBg: #b62324;
  --colors-prettylights-syntax-stringRegexp: #7ee787;
  --colors-prettylights-syntax-markupList: #f2cc60;
  --colors-prettylights-syntax-markupHeading: #1f6feb;
  --colors-prettylights-syntax-markupItalic: #c9d1d9;
  --colors-prettylights-syntax-markupBold: #c9d1d9;
  --colors-prettylights-syntax-markupDeletedText: #ffdcd7;
  --colors-prettylights-syntax-markupDeletedBg: #67060c;
  --colors-prettylights-syntax-markupInsertedText: #aff5b4;
  --colors-prettylights-syntax-markupInsertedBg: #033a16;
  --colors-prettylights-syntax-markupChangedText: #ffdfb6;
  --colors-prettylights-syntax-markupChangedBg: #5a1e02;
  --colors-prettylights-syntax-markupIgnoredText: #c9d1d9;
  --colors-prettylights-syntax-markupIgnoredBg: #1158c7;
  --colors-prettylights-syntax-metaDiffRange: #d2a8ff;
  --colors-prettylights-syntax-brackethighlighterAngle: #8b949e;
  --colors-prettylights-syntax-sublimelinterGutterMark: #484f58;
  --colors-prettylights-syntax-constantOtherReferenceLink: #a5d6ff;
  --colors-codemirror-text: #c9d1d9;
  --colors-codemirror-bg: #0d1117;
  --colors-codemirror-guttersBg: #0d1117;
  --colors-codemirror-guttermarkerText: #0d1117;
  --colors-codemirror-guttermarkerSubtleText: #6e7681;
  --colors-codemirror-linenumberText: #8b949e;
  --colors-codemirror-cursor: #c9d1d9;
  --colors-codemirror-selectionBg: rgba(56,139,253,0.4);
  --colors-codemirror-activelineBg: rgba(110,118,129,0.1);
  --colors-codemirror-matchingbracketText: #c9d1d9;
  --colors-codemirror-linesBg: #0d1117;
  --colors-codemirror-syntax-comment: #8b949e;
  --colors-codemirror-syntax-constant: #79c0ff;
  --colors-codemirror-syntax-entity: #d2a8ff;
  --colors-codemirror-syntax-keyword: #ff7b72;
  --colors-codemirror-syntax-storage: #ff7b72;
  --colors-codemirror-syntax-string: #a5d6ff;
  --colors-codemirror-syntax-support: #79c0ff;
  --colors-codemirror-syntax-variable: #ffa657;
  --colors-checks-bg: #010409;
  --colors-checks-runBorderWidth: 1px;
  --colors-checks-containerBorderWidth: 1px;
  --colors-checks-textPrimary: #c9d1d9;
  --colors-checks-textSecondary: #8b949e;
  --colors-checks-textLink: #58a6ff;
  --colors-checks-btnIcon: #8b949e;
  --colors-checks-btnHoverIcon: #c9d1d9;
  --colors-checks-btnHoverBg: rgba(110,118,129,0.1);
  --colors-checks-inputText: #8b949e;
  --colors-checks-inputPlaceholderText: #6e7681;
  --colors-checks-inputFocusText: #c9d1d9;
  --colors-checks-inputBg: #161b22;
  --colors-checks-inputShadow: 0 0 0 1px (obj) => (0, get_1.default)(obj, path);
  --colors-checks-donutError: #f85149;
  --colors-checks-donutPending: #d29922;
  --colors-checks-donutSuccess: #2ea043;
  --colors-checks-donutNeutral: #8b949e;
  --colors-checks-dropdownText: #c9d1d9;
  --colors-checks-dropdownBg: #161b22;
  --colors-checks-dropdownBorder: #30363d;
  --colors-checks-dropdownShadow: rgba(1,4,9,0.3);
  --colors-checks-dropdownHoverText: #c9d1d9;
  --colors-checks-dropdownHoverBg: rgba(110,118,129,0.1);
  --colors-checks-dropdownBtnHoverText: #c9d1d9;
  --colors-checks-dropdownBtnHoverBg: rgba(110,118,129,0.1);
  --colors-checks-scrollbarThumbBg: rgba(110,118,129,0.4);
  --colors-checks-headerLabelText: #8b949e;
  --colors-checks-headerLabelOpenText: #c9d1d9;
  --colors-checks-headerBorder: #21262d;
  --colors-checks-headerIcon: #8b949e;
  --colors-checks-lineText: #8b949e;
  --colors-checks-lineNumText: #6e7681;
  --colors-checks-lineTimestampText: #6e7681;
  --colors-checks-lineHoverBg: rgba(110,118,129,0.1);
  --colors-checks-lineSelectedBg: rgba(56,139,253,0.15);
  --colors-checks-lineSelectedNumText: #58a6ff;
  --colors-checks-lineDtFmText: #ffffff;
  --colors-checks-lineDtFmBg: #9e6a03;
  --colors-checks-gateBg: rgba(187,128,9,0.15);
  --colors-checks-gateText: #8b949e;
  --colors-checks-gateWaitingText: #d29922;
  --colors-checks-stepHeaderOpenBg: #161b22;
  --colors-checks-stepErrorText: #f85149;
  --colors-checks-stepWarningText: #d29922;
  --colors-checks-loglineText: #8b949e;
  --colors-checks-loglineNumText: #6e7681;
  --colors-checks-loglineDebugText: #a371f7;
  --colors-checks-loglineErrorText: #8b949e;
  --colors-checks-loglineErrorNumText: #6e7681;
  --colors-checks-loglineErrorBg: rgba(248,81,73,0.15);
  --colors-checks-loglineWarningText: #8b949e;
  --colors-checks-loglineWarningNumText: #d29922;
  --colors-checks-loglineWarningBg: rgba(187,128,9,0.15);
  --colors-checks-loglineCommandText: #58a6ff;
  --colors-checks-loglineSectionText: #3fb950;
  --colors-checks-ansi-black: #0d1117;
  --colors-checks-ansi-blackBright: #161b22;
  --colors-checks-ansi-white: #b1bac4;
  --colors-checks-ansi-whiteBright: #b1bac4;
  --colors-checks-ansi-gray: #6e7681;
  --colors-checks-ansi-red: #ff7b72;
  --colors-checks-ansi-redBright: #ffa198;
  --colors-checks-ansi-green: #3fb950;
  --colors-checks-ansi-greenBright: #56d364;
  --colors-checks-ansi-yellow: #d29922;
  --colors-checks-ansi-yellowBright: #e3b341;
  --colors-checks-ansi-blue: #58a6ff;
  --colors-checks-ansi-blueBright: #79c0ff;
  --colors-checks-ansi-magenta: #bc8cff;
  --colors-checks-ansi-magentaBright: #d2a8ff;
  --colors-checks-ansi-cyan: #76e3ea;
  --colors-checks-ansi-cyanBright: #b3f0ff;
  --colors-project-headerBg: #0d1117;
  --colors-project-sidebarBg: #161b22;
  --colors-project-gradientIn: #161b22;
  --colors-project-gradientOut: rgba(22,27,34,0);
  --colors-mktg-btn-bg: #f6f8fa;
  --colors-mktg-btn-shadow-outline: rgb(255 255 255 / 25%) 0 0 0 1px inset;
  --colors-mktg-btn-shadow-focus: rgb(255 255 255 / 25%) 0 0 0 4px;
  --colors-mktg-btn-shadow-hover: 0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07);
  --colors-mktg-btn-shadow-hoverMuted: rgb(255 255 255) 0 0 0 2px inset;
  --colors-avatar-bg: rgba(255,255,255,0.1);
  --colors-avatar-border: rgba(240,246,252,0.1);
  --colors-avatar-stackFade: #30363d;
  --colors-avatar-stackFadeMore: #21262d;
  --colors-avatar-childShadow: -2px -2px 0 #0d1117;
  --colors-topicTag-border: rgba(0,0,0,0);
  --colors-counter-border: rgba(0,0,0,0);
  --colors-selectMenu-backdropBorder: #484f58;
  --colors-selectMenu-tapHighlight: rgba(48,54,61,0.5);
  --colors-selectMenu-tapFocusBg: #0c2d6b;
  --colors-overlay-shadow: 0 0 0 1px #30363d, 0 16px 32px rgba(1,4,9,0.85);
  --colors-header-text: rgba(255,255,255,0.7);
  --colors-header-bg: #161b22;
  --colors-header-divider: #8b949e;
  --colors-header-logo: #f0f6fc;
  --colors-headerSearch-bg: #0d1117;
  --colors-headerSearch-border: #30363d;
  --colors-sidenav-selectedBg: #21262d;
  --colors-menu-bgActive: #161b22;
  --colors-input-disabledBg: rgba(110,118,129,0);
  --colors-timeline-badgeBg: #21262d;
  --colors-ansi-black: #484f58;
  --colors-ansi-blackBright: #6e7681;
  --colors-ansi-white: #b1bac4;
  --colors-ansi-whiteBright: #ffffff;
  --colors-ansi-gray: #6e7681;
  --colors-ansi-red: #ff7b72;
  --colors-ansi-redBright: #ffa198;
  --colors-ansi-green: #3fb950;
  --colors-ansi-greenBright: #56d364;
  --colors-ansi-yellow: #d29922;
  --colors-ansi-yellowBright: #e3b341;
  --colors-ansi-blue: #58a6ff;
  --colors-ansi-blueBright: #79c0ff;
  --colors-ansi-magenta: #bc8cff;
  --colors-ansi-magentaBright: #d2a8ff;
  --colors-ansi-cyan: #39c5cf;
  --colors-ansi-cyanBright: #56d4dd;
  --colors-btn-text: #c9d1d9;
  --colors-btn-bg: #21262d;
  --colors-btn-border: rgba(240,246,252,0.1);
  --colors-btn-shadow: 0 0 transparent;
  --colors-btn-insetShadow: 0 0 transparent;
  --colors-btn-hoverBg: #30363d;
  --colors-btn-hoverBorder: #8b949e;
  --colors-btn-activeBg: hsla(212,12%,18%,1);
  --colors-btn-activeBorder: #6e7681;
  --colors-btn-selectedBg: #161b22;
  --colors-btn-focusBg: #21262d;
  --colors-btn-focusBorder: #8b949e;
  --colors-btn-focusShadow: 0 0 0 3px rgba(139,148,158,0.3);
  --colors-btn-shadowActive: inset 0 0.15em 0.3em rgba(1,4,9,0.15);
  --colors-btn-shadowInputFocus: 0 0 0 0.2em rgba(31,111,235,0.3);
  --colors-btn-counterBg: #30363d;
  --colors-btn-primary-text: #ffffff;
  --colors-btn-primary-bg: #238636;
  --colors-btn-primary-border: rgba(240,246,252,0.1);
  --colors-btn-primary-shadow: 0 0 transparent;
  --colors-btn-primary-insetShadow: 0 0 transparent;
  --colors-btn-primary-hoverBg: #2ea043;
  --colors-btn-primary-hoverBorder: rgba(240,246,252,0.1);
  --colors-btn-primary-selectedBg: #238636;
  --colors-btn-primary-selectedShadow: 0 0 transparent;
  --colors-btn-primary-disabledText: rgba(255,255,255,0.5);
  --colors-btn-primary-disabledBg: rgba(35,134,54,0.6);
  --colors-btn-primary-disabledBorder: rgba(240,246,252,0.1);
  --colors-btn-primary-focusBg: #238636;
  --colors-btn-primary-focusBorder: rgba(240,246,252,0.1);
  --colors-btn-primary-focusShadow: 0 0 0 3px rgba(46,164,79,0.4);
  --colors-btn-primary-icon: #ffffff;
  --colors-btn-primary-counterBg: rgba(255,255,255,0.2);
  --colors-btn-outline-text: #58a6ff;
  --colors-btn-outline-hoverText: #58a6ff;
  --colors-btn-outline-hoverBg: #30363d;
  --colors-btn-outline-hoverBorder: rgba(240,246,252,0.1);
  --colors-btn-outline-hoverShadow: 0 1px 0 rgba(1,4,9,0.1);
  --colors-btn-outline-hoverInsetShadow: inset 0 1px 0 rgba(255,255,255,0.03);
  --colors-btn-outline-hoverCounterBg: rgba(255,255,255,0.2);
  --colors-btn-outline-selectedText: #ffffff;
  --colors-btn-outline-selectedBg: #0d419d;
  --colors-btn-outline-selectedBorder: rgba(240,246,252,0.1);
  --colors-btn-outline-selectedShadow: 0 0 transparent;
  --colors-btn-outline-disabledText: rgba(88,166,255,0.5);
  --colors-btn-outline-disabledBg: #0d1117;
  --colors-btn-outline-disabledCounterBg: rgba(31,111,235,0.05);
  --colors-btn-outline-focusBorder: rgba(240,246,252,0.1);
  --colors-btn-outline-focusShadow: 0 0 0 3px rgba(17,88,199,0.4);
  --colors-btn-outline-counterBg: rgba(31,111,235,0.1);
  --colors-btn-danger-text: #f85149;
  --colors-btn-danger-hoverText: #ffffff;
  --colors-btn-danger-hoverBg: #da3633;
  --colors-btn-danger-hoverBorder: #f85149;
  --colors-btn-danger-hoverShadow: 0 0 transparent;
  --colors-btn-danger-hoverInsetShadow: 0 0 transparent;
  --colors-btn-danger-hoverIcon: #ffffff;
  --colors-btn-danger-hoverCounterBg: rgba(255,255,255,0.2);
  --colors-btn-danger-selectedText: #ffffff;
  --colors-btn-danger-selectedBg: #b62324;
  --colors-btn-danger-selectedBorder: #ff7b72;
  --colors-btn-danger-selectedShadow: 0 0 transparent;
  --colors-btn-danger-disabledText: rgba(248,81,73,0.5);
  --colors-btn-danger-disabledBg: #0d1117;
  --colors-btn-danger-disabledCounterBg: rgba(218,54,51,0.05);
  --colors-btn-danger-focusBorder: #f85149;
  --colors-btn-danger-focusShadow: 0 0 0 3px rgba(248,81,73,0.4);
  --colors-btn-danger-counterBg: rgba(218,54,51,0.1);
  --colors-btn-danger-icon: #f85149;
  --colors-underlinenav-icon: #6e7681;
  --colors-underlinenav-borderHover: rgba(110,118,129,0.4);
  --colors-actionListItem-inlineDivider: rgba(48,54,61,0.48);
  --colors-actionListItem-default-hoverBg: rgba(177,186,196,0.12);
  --colors-actionListItem-default-hoverBorder: rgba(0,0,0,0);
  --colors-actionListItem-default-activeBg: rgba(177,186,196,0.2);
  --colors-actionListItem-default-activeBorder: rgba(0,0,0,0);
  --colors-actionListItem-default-selectedBg: rgba(177,186,196,0.08);
  --colors-actionListItem-danger-hoverBg: rgba(248,81,73,0.16);
  --colors-actionListItem-danger-activeBg: rgba(248,81,73,0.24);
  --colors-actionListItem-danger-hoverText: #ff7b72;
  --colors-switchTrack-bg: #010409;
  --colors-switchTrack-border: #6e7681;
  --colors-switchTrack-checked-bg: rgba(31,111,235,0.35);
  --colors-switchTrack-checked-hoverBg: rgba(31,111,235,0.5);
  --colors-switchTrack-checked-activeBg: rgba(31,111,235,0.65);
  --colors-switchTrack-checked-border: #58a6ff;
  --colors-switchKnob-checked-bg: #1f6feb;
  --colors-switchKnob-checked-disabledBg: #484f58;
  --colors-segmentedControl-bg: #161b22;
  --colors-segmentedControl-button-hover-bg: #30363d;
  --colors-segmentedControl-button-active-bg: #21262d;
  --colors-segmentedControl-button-selected-border: #6e7681;
  --colors-treeViewItem-chevron-hoverBg: rgba(177,186,196,0.12);
  --colors-treeViewItem-directory-fill: #8b949e;
  --colors-fg-default: #c9d1d9;
  --colors-fg-muted: #8b949e;
  --colors-fg-subtle: #6e7681;
  --colors-fg-onEmphasis: #ffffff;
  --colors-canvas-default: #0d1117;
  --colors-canvas-overlay: #161b22;
  --colors-canvas-inset: #010409;
  --colors-canvas-subtle: #161b22;
  --colors-border-default: #30363d;
  --colors-border-muted: #21262d;
  --colors-border-subtle: rgba(240,246,252,0.1);
  --colors-shadow-small: 0 0 transparent;
  --colors-shadow-medium: 0 3px 6px #010409;
  --colors-shadow-large: 0 8px 24px #010409;
  --colors-shadow-extraLarge: 0 12px 48px #010409;
  --colors-neutral-emphasisPlus: #6e7681;
  --colors-neutral-emphasis: #6e7681;
  --colors-neutral-muted: rgba(110,118,129,0.4);
  --colors-neutral-subtle: rgba(110,118,129,0.1);
  --colors-accent-fg: #58a6ff;
  --colors-accent-emphasis: #1f6feb;
  --colors-accent-muted: rgba(56,139,253,0.4);
  --colors-accent-subtle: rgba(56,139,253,0.15);
  --colors-success-fg: #3fb950;
  --colors-success-emphasis: #238636;
  --colors-success-muted: rgba(46,160,67,0.4);
  --colors-success-subtle: rgba(46,160,67,0.15);
  --colors-attention-fg: #d29922;
  --colors-attention-emphasis: #9e6a03;
  --colors-attention-muted: rgba(187,128,9,0.4);
  --colors-attention-subtle: rgba(187,128,9,0.15);
  --colors-severe-fg: #db6d28;
  --colors-severe-emphasis: #bd561d;
  --colors-severe-muted: rgba(219,109,40,0.4);
  --colors-severe-subtle: rgba(219,109,40,0.15);
  --colors-danger-fg: #f85149;
  --colors-danger-emphasis: #da3633;
  --colors-danger-muted: rgba(248,81,73,0.4);
  --colors-danger-subtle: rgba(248,81,73,0.15);
  --colors-open-fg: #3fb950;
  --colors-open-emphasis: #238636;
  --colors-open-muted: rgba(46,160,67,0.4);
  --colors-open-subtle: rgba(46,160,67,0.15);
  --colors-closed-fg: #f85149;
  --colors-closed-emphasis: #da3633;
  --colors-closed-muted: rgba(248,81,73,0.4);
  --colors-closed-subtle: rgba(248,81,73,0.15);
  --colors-done-fg: #a371f7;
  --colors-done-emphasis: #8957e5;
  --colors-done-muted: rgba(163,113,247,0.4);
  --colors-done-subtle: rgba(163,113,247,0.15);
  --colors-sponsors-fg: #db61a2;
  --colors-sponsors-emphasis: #bf4b8a;
  --colors-sponsors-muted: rgba(219,97,162,0.4);
  --colors-sponsors-subtle: rgba(219,97,162,0.15);
  --colors-primer-fg-disabled: #484f58;
  --colors-primer-canvas-backdrop: rgba(1,4,9,0.8);
  --colors-primer-canvas-sticky: rgba(13,17,23,0.95);
  --colors-primer-border-active: #f78166;
  --colors-primer-border-contrast: rgba(255,255,255,0.2);
  --colors-primer-shadow-highlight: 0 0 transparent;
  --colors-primer-shadow-inset: 0 0 transparent;
  --colors-primer-shadow-focus: 0 0 0 3px #0c2d6b;
  --colors-scale-black: #010409;
  --colors-scale-white: #ffffff;
  --colors-scale-gray-0: 0;
  --colors-scale-gray-1: 1;
  --colors-scale-gray-2: 2;
  --colors-scale-gray-3: 3;
  --colors-scale-gray-4: 4;
  --colors-scale-gray-5: 5;
  --colors-scale-gray-6: 6;
  --colors-scale-gray-7: 7;
  --colors-scale-gray-8: 8;
  --colors-scale-gray-9: 9;
  --colors-scale-blue-0: 0;
  --colors-scale-blue-1: 1;
  --colors-scale-blue-2: 2;
  --colors-scale-blue-3: 3;
  --colors-scale-blue-4: 4;
  --colors-scale-blue-5: 5;
  --colors-scale-blue-6: 6;
  --colors-scale-blue-7: 7;
  --colors-scale-blue-8: 8;
  --colors-scale-blue-9: 9;
  --colors-scale-green-0: 0;
  --colors-scale-green-1: 1;
  --colors-scale-green-2: 2;
  --colors-scale-green-3: 3;
  --colors-scale-green-4: 4;
  --colors-scale-green-5: 5;
  --colors-scale-green-6: 6;
  --colors-scale-green-7: 7;
  --colors-scale-green-8: 8;
  --colors-scale-green-9: 9;
  --colors-scale-yellow-0: 0;
  --colors-scale-yellow-1: 1;
  --colors-scale-yellow-2: 2;
  --colors-scale-yellow-3: 3;
  --colors-scale-yellow-4: 4;
  --colors-scale-yellow-5: 5;
  --colors-scale-yellow-6: 6;
  --colors-scale-yellow-7: 7;
  --colors-scale-yellow-8: 8;
  --colors-scale-yellow-9: 9;
  --colors-scale-orange-0: 0;
  --colors-scale-orange-1: 1;
  --colors-scale-orange-2: 2;
  --colors-scale-orange-3: 3;
  --colors-scale-orange-4: 4;
  --colors-scale-orange-5: 5;
  --colors-scale-orange-6: 6;
  --colors-scale-orange-7: 7;
  --colors-scale-orange-8: 8;
  --colors-scale-orange-9: 9;
  --colors-scale-red-0: 0;
  --colors-scale-red-1: 1;
  --colors-scale-red-2: 2;
  --colors-scale-red-3: 3;
  --colors-scale-red-4: 4;
  --colors-scale-red-5: 5;
  --colors-scale-red-6: 6;
  --colors-scale-red-7: 7;
  --colors-scale-red-8: 8;
  --colors-scale-red-9: 9;
  --colors-scale-purple-0: 0;
  --colors-scale-purple-1: 1;
  --colors-scale-purple-2: 2;
  --colors-scale-purple-3: 3;
  --colors-scale-purple-4: 4;
  --colors-scale-purple-5: 5;
  --colors-scale-purple-6: 6;
  --colors-scale-purple-7: 7;
  --colors-scale-purple-8: 8;
  --colors-scale-purple-9: 9;
  --colors-scale-pink-0: 0;
  --colors-scale-pink-1: 1;
  --colors-scale-pink-2: 2;
  --colors-scale-pink-3: 3;
  --colors-scale-pink-4: 4;
  --colors-scale-pink-5: 5;
  --colors-scale-pink-6: 6;
  --colors-scale-pink-7: 7;
  --colors-scale-pink-8: 8;
  --colors-scale-pink-9: 9;
  --colors-scale-coral-0: 0;
  --colors-scale-coral-1: 1;
  --colors-scale-coral-2: 2;
  --colors-scale-coral-3: 3;
  --colors-scale-coral-4: 4;
  --colors-scale-coral-5: 5;
  --colors-scale-coral-6: 6;
  --colors-scale-coral-7: 7;
  --colors-scale-coral-8: 8;
  --colors-scale-coral-9: 9;
}