.Button_base__1p8tv650 {
  border-radius: var(--radii-6__ft67713w);
  border: 1px solid;
  font-family: inherit;
  font-weight: var(--base-text-weight-semibold__ft6771l);
  border-color: var(--colors-btn-border__ft67719a);
  font-size: var(--base-text-weight-semibold__ft6771l);
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
  user-select: none;
  text-decoration: none;
  text-align: center;
}
.Button_base__1p8tv650:disabled {
  cursor: default;
}
.Button_base__1p8tv650:disabled svg {
  opacity: 0.6;
}
.Button_variants_appearance_default__1p8tv651 {
  background-color: var(--colors-btn-bg__ft677199);
  color: var(--colors-btn-text__ft677198);
  &[aria-expanded=true] {
    background-color: var(--colors-btn-activeBg__ft67719f);
    border-color: var(--colors-btn-activeBorder__ft67719g);
  }
}
.Button_variants_appearance_default__1p8tv651:hover {
  background-color: var(--colors-btn-hoverBg__ft67719d);
}
.Button_variants_appearance_default__1p8tv651:active {
  background-color: var(--colors-btn-activeBg__ft67719f);
  border-color: var(--colors-btn-activeBorder__ft67719g);
}
.Button_variants_appearance_default__1p8tv651:disabled {
  background-color: var(--colors-btn-bg__ft677199);
  color: var(--colors-primer-fg-disabled__ft6771dd);
}
.Button_variants_appearance_primary__1p8tv652 {
  color: var(--colors-btn-primary-text__ft67719o);
  background-color: var(--colors-btn-primary-bg__ft67719p);
  border-color: var(--colors-border-subtle__ft6771c4);
}
.Button_variants_appearance_primary__1p8tv652:hover {
  background-color: var(--colors-btn-primary-hoverBg__ft67719t);
}
.Button_variants_appearance_primary__1p8tv652:active {
  background-color: var(--colors-btn-primary-selectedBg__ft67719v);
}
.Button_variants_appearance_primary__1p8tv652:disabled {
  color: var(--colors-btn-primary-disabledText__ft67719x);
  background-color: var(--colors-btn-primary-disabledBg__ft67719y);
  & [data-component=ButtonCounter] {
    color: inherit;
  }
}
.Button_variants_appearance_danger__1p8tv653 {
  color: var(--colors-btn-danger-text__ft6771am);
  background-color: var(--colors-btn-bg__ft677199);
}
.Button_variants_appearance_danger__1p8tv653:hover {
  color: var(--colors-btn-danger-hoverText__ft6771an);
  background-color: var(--colors-btn-danger-hoverBg__ft6771ao);
  border-color: var(--colors-btn-danger-hoverBorder__ft6771ap);
}
.Button_variants_appearance_danger__1p8tv653:active {
  color: var(--colors-btn-danger-selectedText__ft6771at);
  background-color: var(--colors-btn-danger-selectedBg__ft6771au);
  border-color: var(--colors-btn-danger-selectedBorder__ft6771av);
}
.Button_variants_appearance_danger__1p8tv653:disabled {
  color: var(--colors-btn-danger-disabledText__ft6771ax);
  background-color: var(--colors-btn-danger-disabledBg__ft6771ay);
}
.Button_variants_appearance_invisible__1p8tv654 {
  color: var(--colors-accent-fg__ft6771cd);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.Button_variants_appearance_invisible__1p8tv654:hover:not(:disabled) {
  background-color: var(--colors-btn-hoverBg__ft67719d);
}
.Button_variants_appearance_invisible__1p8tv654:active:not(:disabled) {
  background-color: var(--colors-btn-selectedBg__ft67719h);
}
.Button_variants_appearance_invisible__1p8tv654:disabled {
  color: var(--colors-primer-fg-disabled__ft6771dd);
}
.Button_variants_appearance_invisible__1p8tv654[aria-expanded=true] {
  background-color: var(--colors-btn-selectedBg__ft67719h);
}
.Button_variants_appearance_outline__1p8tv655 {
  color: var(--colors-btn-outline-text__ft6771a5);
  border-color: var(--colors-btn-border__ft67719a);
  background-color: var(--colors-btn-bg__ft677199);
}
.Button_variants_appearance_outline__1p8tv655:hover:not(:disabled) {
  color: var(--colors-btn-outline-hoverText__ft6771a6);
  background-color: var(--colors-btn-outline-hoverBg__ft6771a7);
  border-color: var(--colors-btn-outline-hoverBorder__ft6771a8);
}
.Button_variants_appearance_outline__1p8tv655:active:not([disabled]) {
  color: var(--colors-btn-outline-selectedText__ft6771ac);
  background-color: var(--colors-btn-outline-selectedBg__ft6771ad);
  border-color: var(--colors-btn-outline-selectedBorder__ft6771ae);
}
.Button_variants_appearance_outline__1p8tv655:disabled {
  color: var(--colors-btn-outline-disabledText__ft6771ag);
  background-color: var(--colors-btn-outline-disabledBg__ft6771ah);
  border-color: var(--colors-btn-border__ft67719a);
}
.Button_variants_appearance_outline__1p8tv655[aria-expanded=true] {
  color: var(--colors-btn-outline-selectedText__ft6771ac);
  background-color: var(--colors-btn-outline-selectedBg__ft6771ad);
  border-color: var(--colors-btn-outline-selectedBorder__ft6771ae);
}
.Button_variants_size_small__1p8tv656 {
  height: var(--primer-control-small-size__ft6771v);
  font-size: var(--primer-text-body-size-small__ft67712u);
  padding: var(--primer-control-small-paddingBlock__ft6771x) var(--primer-control-small-paddingInline-condensed__ft6771y);
}
.Button_variants_size_medium__1p8tv657 {
  height: var(--primer-control-medium-size__ft677111);
  font-size: var(--primer-text-body-size-medium__ft67712t);
  padding: var(--primer-control-medium-paddingBlock__ft677113) var(--primer-control-medium-paddingInline-normal__ft677115);
}
.Button_variants_size_large__1p8tv658 {
  height: var(--primer-control-large-size__ft677118);
  font-size: var(--primer-text-body-size-large__ft67712s);
  padding: var(--primer-control-large-paddingBlock__ft67711a) var(--primer-control-large-paddingInline-normal__ft67711b);
}
.Button_variants_appearance_primary__1p8tv652[aria-expanded=true] {
  background-color: var(--colors-btn-primary-selectedBg__ft67719v);
}
.Button_variants_appearance_primary__1p8tv652 [data-component=ButtonCounter] {
  background-color: var(--colors-btn-primary-counterBg__ft6771a4);
  color: var(--colors-btn-primary-text__ft67719o);
}
.Button_leadingIcon__1p8tv659 {
  display: inline-block;
  margin-right: var(--primer-control-medium-gap__ft677117);
}
.Button_trailingIcon__1p8tv65a {
  display: inline-block;
  margin-left: var(--primer-control-large-gap__ft67711d);
}
.Button_counter__1p8tv65b {
  display: inline-block;
  font-size: var(--primer-text-body-size-small__ft67712u);
  font-weight: var(--base-text-weight-semibold__ft6771l);
  background-color: var(--colors-neutral-muted__ft6771cb);
  color: var(--colors-fg-default__ft6771bu);
  margin-left: var(--primer-control-medium-gap__ft677117);
  padding: 2px 5px;
  line-height: 1;
  border-radius: 20px;
}
@media (forced-colors: active) {
  .Button_base__1p8tv650:focus {
    outline: solid 1px transparent;
  }
}