.SegmentedControl_ul__h73n4m0 {
  background-color: var(--colors-segmentedControl-bg__ft6771bo);
  border-color: var(--colors-border-default__ft6771c2);
  border-radius: var(--radii-6__ft67713w);
  border-style: solid;
  border-width: 1px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--primer-text-body-size-medium__ft67712t);
  height: var(--primer-control-medium-size__ft677111);
}
.SegmentedControl_ul__h73n4m0.Stack_inline_false__1rds1321 {
  display: inline-flex;
}
.SegmentedControl_size_small__h73n4m7 {
  font-size: var(--primer-text-body-size-small__ft67712u);
  height: var(--primer-control-small-size__ft6771v);
}
.SegmentedControl_size_default__h73n4m8 {
  font-size: var(--primer-text-body-size-medium__ft67712t);
  height: var(--primer-control-medium-size__ft677111);
}
.SegmentedControl_li__h73n4m9 {
  position: relative;
  width: var(--li-width);
}
.SegmentedControl_li__h73n4m9::after {
  content: "";
  background-color: var(--colors-border-default__ft6771c2);
  position: absolute;
  right: -2px;
  top: 8px;
  bottom: 8px;
  width: 1px;
  opacity: var(--seperator-opacity, 0);
}
.SegmentedControl_seperator__h73n4ma {
  --seperator-opacity: 1;
}
.SegmentedControl_button__h73n4mb {
  background-color: transparent;
  border: 1px solid;
  border-color: transparent;
  border-radius: var(--radii-6__ft67713w);
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--base-text-weight-normal__ft6771j);
  width: 100%;
  height: calc(var(--primer-control-medium-size__ft677111) + 2px);
  padding: 0 var(--primer-control-xsmall-paddingInline-condensed__ft6771r);
}
li[data-selected=true] .SegmentedControl_button__h73n4mb {
  background: var(--colors-btn-bg__ft677199);
  border-color: var(--colors-segmentedControl-button-selected-border__ft6771br);
  font-weight: var(--base-text-weight-semibold__ft6771l);
}
li:first-child .SegmentedControl_button__h73n4mb {
  margin-left: -1px;
  margin-right: 1px;
}
.SegmentedControl_content__h73n4mc {
  height: var(--primer-control-xsmall-size__ft6771o);
  padding: 0 var(--primer-control-small-paddingInline-condensed__ft6771y);
  border-radius: var(--radii-3__ft67713v);
  position: relative;
  display: flex;
  justify-content: center;
}
li:not([data-selected=true]) .SegmentedControl_button__h73n4mb:hover .SegmentedControl_content__h73n4mc {
  background-color: var(--colors-segmentedControl-button-hover-bg__ft6771bp);
}
.SegmentedControl_hiddenBoldContent__h73n4md {
  font-weight: var(--base-text-weight-semibold__ft6771l);
  height: 0;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 48rem) {
  .SegmentedControl_fullWidth_narrow_true__h73n4m1 {
    --li-width: 100%;
    display: flex;
    width: 100%;
  }
  .SegmentedControl_fullWidth_narrow_false__h73n4m2 {
    --li-width: fit-content;
    display: inline-flex;
    width: fit-content;
  }
}
@media screen and (min-width: 48rem) {
  .SegmentedControl_fullWidth_regular_true__h73n4m3 {
    --li-width: 100%;
    display: flex;
    width: 100%;
  }
  .SegmentedControl_fullWidth_regular_false__h73n4m4 {
    --li-width: fit-content;
    display: inline-flex;
    width: fit-content;
  }
}
@media screen and (min-width: 90rem) {
  .SegmentedControl_fullWidth_wide_true__h73n4m5 {
    --li-width: 100%;
    display: flex;
    width: 100%;
  }
  .SegmentedControl_fullWidth_wide_false__h73n4m6 {
    --li-width: fit-content;
    display: inline-flex;
    width: fit-content;
  }
}