.SegmentedControl_ul__es8ipd0 {
  background-color: var(--colors-segmentedControl-bg__10e11sfbr);
  border-color: var(--colors-border-default__10e11sfc5);
  border-radius: var(--radii-6__10e11sf3z);
  border-style: solid;
  border-width: 1px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--primer-text-body-size-medium__10e11sf2t);
  height: var(--primer-control-medium-size__10e11sf11);
}
.SegmentedControl_size_small__es8ipd1 {
  font-size: var(--primer-text-body-size-small__10e11sf2u);
  height: var(--primer-control-small-size__10e11sfv);
}
.SegmentedControl_size_default__es8ipd2 {
  font-size: var(--primer-text-body-size-medium__10e11sf2t);
  height: var(--primer-control-medium-size__10e11sf11);
}
.SegmentedControl_fullWidth_true__es8ipd3 {
  display: flex;
  width: 100%;
}
.SegmentedControl_fullWidth_false__es8ipd4.Stack_inline_false__1xlzwqh1 {
  display: inline-flex;
}
.SegmentedControl_li__es8ipd5 {
  position: relative;
}
.SegmentedControl_li__es8ipd5::after {
  content: "";
  background-color: var(--colors-border-default__10e11sfc5);
  position: absolute;
  right: -2px;
  top: 8px;
  bottom: 8px;
  width: 1px;
  opacity: var(--seperator-opacity, 1);
}
.SegmentedControl_button__es8ipd6 {
  background-color: transparent;
  border: 1px solid;
  border-color: transparent;
  border-radius: var(--radii-6__10e11sf3z);
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--base-text-weight-normal__10e11sfj);
  width: 100%;
  height: calc(var(--primer-control-medium-size__10e11sf11) + 2px);
  padding: 0 var(--primer-control-xsmall-paddingInline-condensed__10e11sfr);
}
li[data-selected=true] .SegmentedControl_button__es8ipd6 {
  background: var(--colors-btn-bg__10e11sf9c);
  border-color: var(--colors-segmentedControl-button-selected-border__10e11sfbu);
  font-weight: var(--base-text-weight-semibold__10e11sfl);
}
li:first-child .SegmentedControl_button__es8ipd6 {
  margin-left: -1px;
  margin-right: 1px;
}
.SegmentedControl_content__es8ipd7 {
  height: var(--primer-control-xsmall-size__10e11sfo);
  padding: 0 var(--primer-control-small-paddingInline-condensed__10e11sfy);
  border-radius: var(--radii-3__10e11sf3y);
  position: relative;
}
li:not([data-selected=true]) .SegmentedControl_button__es8ipd6:hover .SegmentedControl_content__es8ipd7 {
  background-color: var(--colors-segmentedControl-button-hover-bg__10e11sfbs);
}
.SegmentedControl_icon__es8ipd8 {
  margin-right: var(--primer-control-xsmall-gap__10e11sfu);
}
.SegmentedControl_hiddenBoldContent__es8ipd9 {
  font-weight: var(--base-text-weight-semibold__10e11sfl);
  height: 0;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}