.SegmentedControl_ul {
  background-color: var(--colors-segmentedControl-bg);
  border-color: var(--colors-border-default);
  border-radius: var(--radii-6);
  border-style: solid;
  border-width: 1px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--primer-text-body-size-medium);
  height: var(--primer-control-medium-size);
}
.SegmentedControl_size_small {
  font-size: var(--primer-text-body-size-small);
  height: var(--primer-control-small-size);
}
.SegmentedControl_size_default {
  font-size: var(--primer-text-body-size-medium);
  height: var(--primer-control-medium-size);
}
.SegmentedControl_li {
  position: relative;
  width: var(--li-width);
}
.SegmentedControl_li::after {
  content: "";
  background-color: var(--colors-border-default);
  position: absolute;
  right: -2px;
  top: 8px;
  bottom: 8px;
  width: 1px;
  opacity: var(--seperator-opacity, 0);
}
.SegmentedControl_seperator {
  --seperator-opacity: 1;
}
.SegmentedControl_button {
  background-color: transparent;
  border: 1px solid;
  border-color: transparent;
  border-radius: var(--radii-6);
  color: var(--colors-btn-text);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--base-text-weight-normal);
  width: 100%;
  height: calc(var(--primer-control-medium-size) + 2px);
  padding: 0 var(--primer-control-xsmall-paddingInline-condensed);
}
li[data-selected=true] .SegmentedControl_button {
  background: var(--colors-btn-bg);
  border-color: var(--colors-segmentedControl-button-selected-border);
  font-weight: var(--base-text-weight-semibold);
}
li:first-child .SegmentedControl_button {
  margin-left: -1px;
  margin-right: 1px;
}
.SegmentedControl_content {
  height: var(--primer-control-xsmall-size);
  padding: 0 var(--primer-control-small-paddingInline-condensed);
  border-radius: var(--radii-3);
  position: relative;
  display: flex;
  justify-content: center;
}
li:not([data-selected=true]) .SegmentedControl_button:hover .SegmentedControl_content {
  background-color: var(--colors-segmentedControl-button-hover-bg);
}
.SegmentedControl_hiddenBoldContent {
  font-weight: var(--base-text-weight-semibold);
  height: 0;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 48rem) {
  .SegmentedControl_fullWidth_narrow_true {
    --li-width: 100%;
    display: flex;
    width: 100%;
  }
  .SegmentedControl_fullWidth_narrow_false {
    --li-width: fit-content;
    display: inline-flex;
    width: fit-content;
  }
}
@media screen and (min-width: 48rem) {
  .SegmentedControl_fullWidth_regular_true {
    --li-width: 100%;
    display: flex;
    width: 100%;
  }
  .SegmentedControl_fullWidth_regular_false {
    --li-width: fit-content;
    display: inline-flex;
    width: fit-content;
  }
}
@media screen and (min-width: 90rem) {
  .SegmentedControl_fullWidth_wide_true {
    --li-width: 100%;
    display: flex;
    width: 100%;
  }
  .SegmentedControl_fullWidth_wide_false {
    --li-width: fit-content;
    display: inline-flex;
    width: fit-content;
  }
}