.Stack_inline_true__1rds1320 {
  display: inline-flex;
}
.Stack_inline_false__1rds1321 {
  display: flex;
}
.Stack_direction_horizontal__1rds1322 {
  flex-direction: row;
}
.Stack_direction_vertical__1rds1323 {
  flex-direction: column;
}
.Stack_justify_normal__1rds1324 {
  justify-content: normal;
}
.Stack_justify_center__1rds1325 {
  justify-content: center;
}
.Stack_justify_space-between__1rds1326 {
  justify-content: space-between;
}
.Stack_justify_space-around__1rds1327 {
  justify-content: space-around;
}
.Stack_justify_space-evenly__1rds1328 {
  justify-content: space-evenly;
}
.Stack_justify_stretch__1rds1329 {
  justify-content: stretch;
}
.Stack_justify_flex-start__1rds132a {
  justify-content: flex-start;
}
.Stack_justify_flex-end__1rds132b {
  justify-content: flex-end;
}
.Stack_align_normal__1rds132c {
  align-items: normal;
}
.Stack_align_center__1rds132d {
  align-items: center;
}
.Stack_align_start__1rds132e {
  align-items: start;
}
.Stack_align_end__1rds132f {
  align-items: end;
}
.Stack_gap_none__1rds132g {
  gap: 0;
}
.Stack_gap_xsmall__1rds132h {
  gap: var(--primer-control-xsmall-gap__ft6771u);
}
.Stack_gap_condensed__1rds132i {
  gap: var(--primer-controlStack-medium-gap-condensed__ft67711s);
}
.Stack_gap_normal__1rds132j {
  gap: var(--primer-controlStack-medium-gap-spacious__ft67711t);
}
.Stack_gap_spacious__1rds132k {
  gap: var(--primer-controlStack-small-gap-spacious__ft67711r);
}