.Stack_inline_true__1xlzwqh0 {
  display: inline-flex;
}
.Stack_inline_false__1xlzwqh1 {
  display: flex;
}
.Stack_direction_horizontal__1xlzwqh2 {
  flex-direction: row;
}
.Stack_direction_vertical__1xlzwqh3 {
  flex-direction: column;
}
.Stack_justify_normal__1xlzwqh4 {
  justify-content: normal;
}
.Stack_justify_space-between__1xlzwqh5 {
  justify-content: space-between;
}
.Stack_justify_space-around__1xlzwqh6 {
  justify-content: space-around;
}
.Stack_justify_space-evenly__1xlzwqh7 {
  justify-content: space-evenly;
}
.Stack_justify_stretch__1xlzwqh8 {
  justify-content: stretch;
}
.Stack_justify_flex-start__1xlzwqh9 {
  justify-content: flex-start;
}
.Stack_justify_flex-end__1xlzwqha {
  justify-content: flex-end;
}
.Stack_align_normal__1xlzwqhb {
  align-items: normal;
}
.Stack_align_center__1xlzwqhc {
  align-items: center;
}
.Stack_align_start__1xlzwqhd {
  align-items: start;
}
.Stack_align_end__1xlzwqhe {
  align-items: end;
}
.Stack_gap_none__1xlzwqhf {
  gap: 0;
}
.Stack_gap_condensed__1xlzwqhg {
  gap: var(--primer-controlStack-medium-gap-condensed__10e11sf1s);
}
.Stack_gap_normal__1xlzwqhh {
  gap: var(--primer-controlStack-medium-gap-spacious__10e11sf1t);
}
.Stack_gap_spacious__1xlzwqhi {
  gap: var(--primer-controlStack-small-gap-spacious__10e11sf1r);
}