.Stack_base {
  display: flex;
}
.Stack_inline {
  display: inline-flex;
}
.Stack_direction_horizontal {
  flex-direction: row;
}
.Stack_direction_vertical {
  flex-direction: column;
}
.Stack_justify_normal {
  justify-content: normal;
}
.Stack_justify_center {
  justify-content: center;
}
.Stack_justify_space-between {
  justify-content: space-between;
}
.Stack_justify_space-around {
  justify-content: space-around;
}
.Stack_justify_space-evenly {
  justify-content: space-evenly;
}
.Stack_justify_stretch {
  justify-content: stretch;
}
.Stack_justify_flex-start {
  justify-content: flex-start;
}
.Stack_justify_flex-end {
  justify-content: flex-end;
}
.Stack_align_normal {
  align-items: normal;
}
.Stack_align_center {
  align-items: center;
}
.Stack_align_start {
  align-items: start;
}
.Stack_align_end {
  align-items: end;
}
.Stack_gap_none {
  gap: 0;
}
.Stack_gap_xsmall {
  gap: var(--primer-control-xsmall-gap);
}
.Stack_gap_condensed {
  gap: var(--primer-controlStack-medium-gap-condensed);
}
.Stack_gap_normal {
  gap: var(--primer-controlStack-medium-gap-spacious);
}
.Stack_gap_spacious {
  gap: var(--primer-controlStack-small-gap-spacious);
}